.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Subtract the height of the register button */
}

.register-button {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.username-wrapper {
    height: 150px;
    padding: 30px;
}